/* font-family*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
    background: hsl(190, 100%, 20%);
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
    background: hsl(210, 25%, 25%);
}

.btn-primary:active{
    background: hsl(210, 25%, 25%) !important;
}

.btn-outline-primary {
  border: 2px solid hsl(190, 100%, 20%);
  color: hsl(190, 100%, 20%);
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-outline-primary:hover {
  background: hsl(190, 100%, 20%);
  color: #fff;
  font-weight: 600;
  border: hsl(190, 100%, 20%);
}

.btn-outline-primary:active {
  background: hsl(190, 100%, 20%) !important;
}

.btn-link {
  color: hsl(190, 100%, 20%);
}

.btn-link:hover {
  color: hsl(210, 25%, 25%);
}

.btn-link:active {
  color: hsl(210, 25%, 25%)!important;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
}

ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
}

#form-modal .modal {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#form-modal .modal-dialog {
  max-width: 600px;
}


#form-modal .modal-content {
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#form-modal .modal-header {
  background-color: #f4f4f4;
  border-radius: 12px 12px 0 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form-modal .modal-title {
  font-size: 28px;
  margin: 0;
  color: #333;
}

#form-modal .btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #777;
}