/* font-family*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
    background: hsl(190, 100%, 20%);
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
    background: hsl(210, 25%, 25%);
}

.btn-primary:active{
    background: hsl(210, 25%, 25%) !important;
}

.btn-outline-primary {
  border: 2px solid hsl(190, 100%, 20%);
  color: hsl(190, 100%, 20%);
  font-weight: 600;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn-outline-primary:hover {
  background: hsl(190, 100%, 20%);
  color: #fff;
  font-weight: 600;
  border: hsl(190, 100%, 20%);
}

.btn-outline-primary:active {
  background: hsl(190, 100%, 20%) !important;
}
